<p id="notice"><%= notice %></p><br><br>

<%= form_tag posts_path, :method => 'get' do %>
  <%= autocomplete_field_tag :search, params[:search], autocomplete_post_subject_posts_path, placeholder: 'enter search here' %>
  <%= submit_tag 'search', :name => nil %>
<% end %>

<br><br>
<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Subject</th>

      <th>itemcode</th>
      <th>productcode</th>
      <th>description</th>
      <th>keyword</th>
      <th>url</th>
      <th>image</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.subject %></td>

        <td><%= post.itemcode %></td>
        <td><%= post.productcode %></td>
        <td><%= post.description %></td>
        <td><%= post.keyword %></td>
        <td><%= link_to image_tag(post.image), post.url %></td>
        <td><%= post.image %></td>

        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
